.sites-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.sites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sites-imagem {
  position: relative;
}

.sites-imagem span {
  background: var(--cor-12);
  margin-top: 20px;
  display: inline-block;
  padding: 8px 16px 8px 8px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 4px 0px 0px 4px;
}

.sites-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.sites-conteudo h2,
.sites-conteudo p {
  grid-column: 1/-1;
}

.sites h2 {
  margin-bottom: 20px;
}

.sites h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.sites p {
  margin-bottom: 32px;
}

.sites a {
  place-self: end;
}

.sites li {
  display: flex;
  align-items: center;
}

.sites ul {
  display: grid;
  gap: 16px;
}

.sites-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .sites-bg {
    background: var(--cor-11);
  }
  .sites {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .whats {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 600px) {
  .sites-bg {
    background: var(--cor-11);
  }
  .sites-conteudo {
    grid-template-columns: 1fr;
  }
  .sites ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .sites a {
    place-self: start;
  }

  .whats {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 50px;
    height: 50px;
  }
}
